<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <h4 style="color: #FFFFFF; background-color: skyblue; height: 40px; line-height: 40px">添加品牌</h4>
    ID：<input type="text" v-model="id"> Name: <input type="text" v-model="name" @keydown.F2="add()">
    <button @click="add()">添加</button>
    搜索名称关键字： <input type="text" v-model="keywords" v-focus>
    <table border="1px" cellpadding="0" cellspacing="0" style="width: 100%; margin-top: 15px; text-align: center">
        <thead style="width: 100%">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Ctime</td>
            <td>Operation</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in search(keywords)" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.ctime | dateFormat() }}</td>
            <td><a href="" @click.prevent="del(item.id)">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="vm" style="margin-top: 50px">
    <p> {{ text | textFormat('后天') }} </p>
</div>

<script>
    //自定义键盘修饰符
    Vue.config.keyCodes.F2 = 113;


    //全局过滤器使用
    Vue.filter('dateFormat', function (dateStr, pattern = "") {
        var dt = new Date(dateStr);
        var y = dt.getFullYear();
        var m = dt.getMonth() + 1;
        var d = dt.getDate();
        if (pattern.toLowerCase() == 'yyyy-mm-dd') {
            return `${y}-${m}-${d}`
        } else {
            var hh = dt.getHours();
            var mm = dt.getMinutes();
            var ss = dt.getSeconds();
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
        }
    })
    //
    // //自定义全局指令
    // Vue.directive('focus',{
    //     inserted:function (el) {
    //         el.focus();
    //     }
    // })

    const app = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            keywords: '',
            list: [
                {id: 1, name: '奔驰', ctime: new Date()},
                {id: 2, name: '宝马', ctime: new Date()},
                {id: 3, name: '丰田', ctime: new Date()}
            ]
        },
        methods: {
            add: function () {   //添加数据
                this.list.push({id: this.id, name: this.name, ctime: new Date()}),
                    this.id = this.name = ''
            },
            del: function (id) {
                this.list.some((item, i) => {
                    if (item.id == id) {
                        this.list.splice(i, 1);
                        return
                    }
                })
            },
            search: function (keywords) {
                return this.list.filter(function (item, i) {
                    if (item.name.indexOf(keywords) != -1) {
                        return item
                    }
                })
            },
        },

        directives:{
            // focus:function (el) {   //相当于bind和update
            //     el.style.color='red';
            // },

            focus:{
                inserted:function (el) {
                    el.focus();
                }
            }
        },

        //生命周期函数使用
        mounted(){
            console.log('页面上数据加载完毕！')
        }
    })

    const vm = new Vue({
        el: '#vm',
        data: {
            text: '今天是个好天气，今天是星期四，今天是2018年10月11日'
        },
        filters: {   //局部过滤器使用
            textFormat(input, str) {
                return input.replace(/今天/g, str)
            }
        }
    })
</script>
</body>
</html>